<header>
    <nav class="navbar navbar-inverse">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="#">Whitestone</a>
            </div>
            <ul class="nav navbar-nav">
                <li><a type="submit" name="action" ng-click="oldMeetingsCtrl.meetingRedirect()">Meeting</a></li>
                <li><a type="submit" name="action" ng-click="oldMeetingsCtrl.voteRedirect()">Voting</a></li>
                <li class="active"><a class="active" type="submit" name="action" ng-click="#">Old Meetings</a></li>

            </ul>
            <ul></ul>
            <li style="float:right"><a class="active" type="submit" name="action" ng-click="oldMeetingsCtrl.logout()">Logout</a>
        </div>
    </nav>
</header>

<body>

    <div class="row" style="padding: 2%  2% 2% 2% ">
        <center>
            <div class="col-sm-1"></div>

            <div class="col-sm-4" style="background-color:rgb(224, 227, 229);color:black;padding:2%  2% 2% 2% ">
                <h2 style="text-align: center"><b>Old Meetings</b>
          </h2>
                <br>
                <p style="text-align: center">Select the meeting you want to review:
                </p>
                <br>
                <div class="pre-scrollable" style="max-height: 55%">
                    <div ng-repeat="meetings in oldMeetingsCtrl.oldMeetingList" style="text-align: left">

                        <div class="col-sm-2" style="padding-top: 4%">
                            <input type="checkbox" class="custom-control" name="mycheckbox" ng-model="meetings.checked" ng-click="oldMeetingsCtrl.checkMeeting(meetings)" ng-checked='meetings.checked' />
                        </div>
                        <div class="col-sm-10" style="padding-bottom: 5">
                            <div class="row">
                                <h4><strong> {{meetings.mname}}</strong>
                          </h4> {{meetings.mdescription}}
                                <br>

                                <small>Date: {{meetings.mdate}} 
                        <br> Time: {{meetings.mtime}}</small>

                            </div>
                        </div>
                    </div>

                </div>

        </center>

        <div class="col-sm-6" style="background-color:rgba(246, 245, 250, 1);color:black;padding:2% 5% 2% 2%">

            <div ng-show="oldMeetingsCtrl.selected">

                <div class="row">

                    <h2 style="text-align: center"><b>Meeting Summary</b>
             </h2>
                    <br>

                </div>

                <div class="row">
                    <div class="col-sm-8" style="padding:2% 10% 2% 10%">

                        <h3>Voting Questions</h3>
                        <br>
                        <div class="pre-scrollable">
                            <div ng-repeat="votingQuestion in oldMeetingsCtrl.votingQuestionList" style="">
                                <h5><strong>Vote: {{votingQuestion.vquestion}}</strong></h5>
                                <small>Date: {{votingQuestion.vdate}} Time: {{votingQuestion.vtime}}</small>
                                <br>
                                <br>
                                <ol style="list-style: circle">
                                    <div ng-repeat="choices in oldMeetingsCtrl.votingChoiceList[votingQuestion.vID]">
                                        <li>{{choices.votes}} - {{choices.choice}} </li>
                                    </div>
                                </ol>
                            </div>
                            <br>
                            <br>
                        </div>
                    </div>
                    <div class="col-sm-4" style="padding:2% 2% 2% 2%">

                        <h3>Audio Files</h3>
                        <br>
                        <div class="pre-scrollable">
<!--Added by Ariel-->
<!--<p style="text-align: center"><strong>Select the recording you want to listen:</strong></p>-->
<div ng-repeat="Audio in oldMeetingsCtrl.audioFilesList" style="">
<!--<input type="radio" ng-model="audio" value="selectedAudioFile" ng-change='oldMeetingsCtrl.checkAudio(audio)' /> -->
<!--<input type="checkbox" class="custom-control" name="audiocheckbox" ng-model="audio.checked" ng-click="oldMeetingsCtrl.checkAudio(audio)" ng-checked='meetings.checked' />-->
<!--<input type="radio" class="custom-control" name="audiocheckbox" ng-model="audio.checked" ng-click="oldMeetingsCtrl.checkAudio(audio)" value='audio.checked' />-->
<small>Audio File: {{Audio.aname}}</small>
<audio id="audio" preload="none" tabindex="0" controls="" style="width: 200px;">
<source src={{Audio.aadress}}></div>
</audio>
<p {{Audio.aadress}}></p>

<!--End of Added by Ariel-->


                        </div>
                    </div>

                </div>

            </div>
        </div>

        </div>

</body>
