<head>

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
</head>

<body>

  <div class="container">

    <div class="row">
      <div class="col-sm-4">
        <input ng-model="activityLogCtrl.date" placeholder="MM/DD/YYYY">
        <button type="submit" name="action" ng-click="activityLogCtrl.searchActivity()">Search</button>
      </div>
      <div class="col-sm-4" style="background-color:rgba(246, 245, 250, 1);color:black;padding:20px 20px 20px 20px">
        <table>
          <tbody>
            <tr>
              <th>
                <div ng-repeat="activity in activityLogCtrl.newActivityLogList">
                  <label>
                      {{activity.email}}<p> </p> {{activity.logmessage}}<p> </p>{{activity.date}}<p> </p>{{activity.time}}
                  </label>
                </div>
              </th>
            </tr>
          </tbody>
        </table>
    <button type="submit" name="action" ng-click="activityLogCtrl.editUserRedirect()">Edit User</button> 
    <button type="submit" name="action" ng-click="activityLogCtrl.createUserRedirect()">create user</button> 
    <button type="submit" name="action" ng-click="activityLogCtrl.logOut()">Logout</button>
      </div>

      <div class="col-sm-4">
      </div>
    </div>
  </div>
</body>