<body>

    <nav class="navbar navbar-inverse">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="#">Whitestone</a>
            </div>
            <ul class="nav navbar-nav">
                <li><a type="submit" name="action" ng-click="activityLogCtrl.createUserRedirect()">Create User</a></li>
                <li><a type="submit" name="action" ng-click="activityLogCtrl.editUserRedirect()"> Edit User</a></li>

                <li class="active"><a type="submit" name="action" ng-click="activityLogCtrl.editUserRedirect()">Activity Log</a></li>

            </ul>
            <ul></ul>

            <li style="float:right"><a class="active" type="submit" name="action" ng-click="activityLogCtrl.logout()">Logout</a></li>

        </div>
    </nav>

    <div class="container">

        <div class="row">

            <div class="col-sm-3" style="text-align: center">
                <h3><b>Daily Activity Log</b></h3>
                <br> Search all the logs of the following date:
                <input ng-model="activityLogCtrl.date" class="form-control" placeholder="DD/MM/YYYY">
                <br>
                <button type="submit" class="btn btn-primary" name="action" ng-click="activityLogCtrl.searchActivity()">Search</button>

            </div>
            <div class="col-sm-1"></div>
            <div class="col-sm-8">

                <div class="pre-scrollable" style="max-height: 75%">
                    <table class="table table-striped" style="background-color:e0e3e5 ">
                        <thead>
                            <tr style="background-color:#828689">

                                <th scope="col">Time</th>
                                <th scope="col">Author</th>
                                <th scope="col">Activity</th>
                            </tr>
                        </thead>
                        <tbody>

                            <tr ng-repeat="activity in activityLogCtrl.newActivityLogList">

                                <td>{{activity.time}}</td>
                                <td>{{activity.email}}</td>
                                <td>{{activity.logmessage}}</td>

                            </tr>

                        </tbody>
                    </table>
                </div>

            </div>
        </div>

        <div class="col-sm-4">
        </div>
    </div>

</body>