
<body ng-app="">
<table bgcolor="#FFFFFF">
    <tbody>
        <tr>
            <th><label> <b>Name:  </b></label><input ng-model="createUserCtrl.first_name" placeholder="Enter Meeting Name"></th>
        </tr>
        <tr>
            <th><label> <b>Last:  </b></label><input ng-model="createUserCtrl.last_name" placeholder="Enter Last Name" ></th>
        </tr>
        <tr>
            <th><label> <b>About:  </b></label><input ng-model="createUserCtrl.about" placeholder= "about" ></th>
        </tr>
        <tr>
            <th><label> <b>Password:  </b></label><input ng-model="createUserCtrl.password" placeholder= "password" ></th>
        </tr>
        <tr>
            <th><label> <b>UPR email:  </b></label><input ng-model="createUserCtrl.email" placeholder="email"></th>
        </tr>
        <tr>
            
            <th><label> <b>Select The User Role:  </b></label><br>

                <input type="radio" ng-model="createUserCtrl.role" value="Senator">Senator
                <br>
                <input type="radio" ng-model="createUserCtrl.role" value="Chancellor">Chancellor
                <br>
                <input type="radio" ng-model="createUserCtrl.role" value="Secretary">Secretary
                <br>
                <input type="radio" ng-model="createUserCtrl.role" value="Administrator">Administrator

            </th>
        </tr>
        <tr>
            <th><label> <b>Select The User Classification:  </b></label><br>

                <input type="radio" ng-model="createUserCtrl.title" value="Ex-Officio Student">Ex-Officio Student
                <br>
                <input type="radio" ng-model="createUserCtrl.title" value="Elect Student">Elect Student
                <br>
                <input type="radio" ng-model="createUserCtrl.title" value="Elect">Elect
                <br>
                <input type="radio" ng-model="createUserCtrl.title" value="Ex-Officio">Ex-Officio
                <br>
                <input type="radio" ng-model="createUserCtrl.title" value="Staff">Staff

            </th>
        </tr>
        <tr>
            <th>
            <button type="submit" name="action" ng-click="createUserCtrl.createNewCredentials()">Create</button> 
        </th>
        </tr>
        
    </tbody>
</table>
    <button type="submit" name="action" ng-click="createUserCtrl.editUserRedirect()">Edit User</button> 
    <button type="submit" name="action" ng-click="createUserCtrl.activityLogRedirect()">Activity Log</button> 
    <button type="submit" name="action" ng-click="createUserCtrl.logOut()">Logout</button> 
</body>