<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
</head>


<body>
    
    
<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">Whitestone</a>
    </div>
    <ul class="nav navbar-nav">
      <li><a type="submit" name="action" ng-click="votingCtrl.meetingRedirect()">Meeting</a></li>
      <li class="active"><a type="submit" name="action" ng-click="createMeetingCtrl.voteRedirect()">Voting</a></li>
      <li><a type="submit" name="action" ng-click="votingCtrl.oldMeetingRedirect()">Old Meetings</a></li>
    
      </ul>
      <ul></ul>
      <li style = "float:right"><a class="active" type="submit" name="action" ng-click="votingCtrl.logout()">Logout</a>
  </div>
</nav>    
    
    
    <div ng-if="!votingCtrl.activeMeeting">
        <h2 style="text-align: center">There is currently no active meeting</h2>
    </div>

       
<div class="container">
  
  <div class="row">
    <div class="col-sm-4"  style="background-color:rgba(246, 245, 250, 1);color:black;padding:20px 20px 20px 20px">
        <center>
	    <div ng-if="votingCtrl.activeMeeting">
            <table>
                <div class="card-header">
                    <h3>Create new voting</h3>
                </div>
            
            <tbody>
              <tr>                                     
              <th> 
                <input ng-model="votingCtrl.voting_question" class= "form-control" placeholder="Voting Question"></th>
              </tr>
              <tr>
                                                          
              <th>
                
                <input ng-model="votingCtrl.voting_objective" class= "form-control" placeholder="Voting Instructions"></th>
              </tr>
              
              <tr>
              <th>
                <label> <br><b>Date </b></label>
                <br>
                <input ng-model="votingCtrl.vMM" class= "form-control" placeholder="MM">
                <input ng-model="votingCtrl.vDD" class= "form-control" placeholder="DD">
                <input ng-model="votingCtrl.vYYYY" class= "form-control" placeholder="YYYY"></th>
              </tr>

              <tr>                                     
              <th> 
                <label><br><b>Time </b></label>
                <br>
                <!--<select ng-model="selectedName" ng-options="x for x in names"></select>-->
                <input ng-model="votingCtrl.vHour" class= "form-control" placeholder="HH">
                <input ng-model="votingCtrl.vMin" class= "form-control" placeholder="MM"></th>
              </tr>
              <tr>                                     
              <th> 
                <label><br><b>Select all the participants </b></label>
                <div ng-repeat="t in votingCtrl.titles">
                  <div class="action-checkbox">
                  <input id="{{t.title}}" type="checkbox" value="{{t.title}}" ng-checked="t.selected"  ng-click="votingCtrl.addToSelection(t.title)" />
                  <label for="{{t.title}}"></label>
                   {{t.title}}
                  </div>
                </div>
              </tr>
              <tr>
                                                          
              <th>
                <label><br> <b>Enter limit of selections </b></label>
                <input ng-model="votingCtrl.vLimit" class= "form-control" placeholder="Limit"></th>
              </tr>
              <tr>
                <th>
                  <div><br>Enter voting Alternatives</div>
                  <div ng-repeat="alt in votingCtrl.votingAlternatives">
                    <input type="text" name="alternative" ng-model="alt.valt" class= "form-control" placeholder="Alternative">
                  </div>
                  <button style="padding:1px 10px;border-radius: 5px;" ng-click="votingCtrl.addAlternative()">Add Alternative</button>
                </th>
              </tr>
              <tr>
              <th>
                <br>
                <button class="btn btn-primary" style="float:left;padding:5px 25px;border-radius: 12px;" type="submit" name="action" ng-click="votingCtrl.checkcreate()">Create</button>
                <button class="btn btn-danger" style="float:right;padding:5px 25px;border-radius: 12px;" type="reset" name="action" ng-click="votingCtrl.loginUser()">Cancel</button>
              </th>
              </tr>
          </tbody>
        </table>
            </div>
        </center>
    </div>
    <div class="col-sm-4">
    </div>
    
    <div class="col-sm-4" style="background-color:rgba(246, 245, 250, 1);color:black;padding:20px 20px 20px 20px">
        <div ng-if="votingCtrl.activeVotingQuestion">
        <h3>Meeting's Active Votings</h3>
        
            {{votingCtrl.votingQuestion.vquestion}}
            {{votingCtrl.votingQuestion.vdescription}}
            {{votingCtrl.votingQuestion.vdate}}{{votingCtrl.votingQuestion.vtime}}
            <div ng-repeat="choices in votingCtrl.votingChoices">
                {{choices.choice}}
                  {{choices.votes}}
            </div>
            <button style="float:right;padding:5px 30px;border-radius: 12px;" type="submit" name="action" ng-click="votingCtrl.closeVotingQuestion()">Close</button>
            <!--<button style="float:right;padding:5px 30px;border-radius: 12px;" type="submit" name="action" ng-click="votingCtrl.getVotingChoiceResults()">GET</button>-->
            <br>
        </div>
        <div ng-if="votingCtrl.activeMeeting">
            <h3>Meeting's Votings</h3>
        
            <div ng-repeat="v in votingCtrl.inActiveVotingQuestion">
            <!-- This card prodives space for the message and Like/dislike buttons -->
            <!-- Card Title is the person who write the message -->
            <!-- Here comes the message text -->
              <p>
                {{v.vquestion}}
                {{v.vdescription}}
                {{v.vdate}}{{v.vtime}}
              </p>
          <div ng-repeat="c in votingCtrl.inActiveVotingChoices[v.vID]">
              <p>
                {{c.choice}}
                  {{c.votes}}
              </p>
            
        </div>
            <!--<div ng-repeat="c in votingCtrl.inActiveVotingChoicesTest[v.vID][v.vID]">
              <p>
                {{c.vchoice}}
                  {{c.votes}}
              </p>
            
        </div>-->
        </div>
        </div>
    </div>
  </div>
</div>
<!-- Footer -->
<footer class="page-footer font-small special-color-dark pt-4">

    <!-- Footer Elements -->
    <div class="container">
        
    <!-- Copyright -->
    <div class="footer-copyright text-center py-3">© 2019:
      <a href="https://mdbootstrap.com/education/bootstrap/"> By CodingGear</a>
    </div>
    <!-- Copyright -->
    </div>
  </footer>
  <!-- Footer -->



</body>

