<body>


<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">Whitestone
        </a>
    </div>
    <ul class="nav navbar-nav">
      <li><a type="submit" name="action" ng-click="votingCtrl.meetingRedirect()">Meeting</a></li>
      <li class="active"><a type="submit" name="action" ng-click="createMeetingCtrl.voteRedirect()">Voting</a></li>
      <li><a type="submit" name="action" ng-click="votingCtrl.oldMeetingRedirect()">Old Meetings</a></li>

      </ul>
      <ul></ul>
      <li style = "float:right"><a class="active" type="submit" name="action" ng-click="votingCtrl.logout()">Logout</a>
  </div>
</nav>    


    <div ng-if="!votingCtrl.activeMeeting" style="padding: 10% 0% 25% 0%"><br><br>

        <h2 style="text-align: center">There is currently no active meeting</h2>
        <p style="text-align: center"> Please start a new meeting session in to enable the voting opions.</p>
    </div>




<div class="container" >
   
  <div class="row" style="padding:2% 2% 2% 2%">
      


        
        <div ng-if="votingCtrl.activeMeeting">
            
    <div class="col-sm-6"  style="background-color: #e0e3e5; padding:0% 5% 5% 5%">

        <h2 style="text-align: center"><b>Create New Voting</b>
            </h2>

            
            <br>
            <p>Please fill all the fields and press "Create" button to start a new voting during the live session:
            </p>

            <div class="floating-label">

                <div class="row" style="padding-bottom: 2%">
                <input ng-model="votingCtrl.voting_question" class= "form-control" placeholder="Voting Question">   
                    </div>

                <div class="row" style="padding-bottom: 2%">
                <input ng-model="votingCtrl.voting_objective" class= "form-control" placeholder="Voting Instructions">
                   </div> 

                <div class="row">
                <label>
                    <br>
                    <b>Select all the participants 
                    </b>
                    </label>
                <div ng-repeat="t in votingCtrl.titles">
                  <div class="action-checkbox">
                  <input id="{{t.title}}" type="checkbox" value="{{t.title}}" ng-checked="t.selected"  ng-click="votingCtrl.addToSelection(t.title)" />
                  <label for="{{t.title}}">
                      </label>
                   {{t.title}}
                  </div>
                </div>
                </div>

                <div class="row" style="padding-bottom: 2%">
                    <br>
                <label>
                    <b>Enter limit of selections 
                    </b>
                    </label>
                <input ng-model="votingCtrl.vLimit" class= "form-control" placeholder="Limit">
                </div>

                <b>Enter voting Alternatives
                </b>
                  <div ng-repeat="alt in votingCtrl.votingAlternatives">
                      <div class="row" style="padding-bottom: 2%">
                    <input type="text" name="alternative" ng-model="alt.valt" class= "form-control" placeholder="Alternative">
                  
                   </div>  
                </div>
                
                  <button class="row" style="object-position:right  padding-top:1px  " ng-click="votingCtrl.addAlternative()">Add Alternative
                </button>
                            
                <div class="row" style="padding-top: 10%">
                    <div class="col-sm-4"></div>
                    <div class="col-sm-4">  
                        <button class="btn btn-primary btn-block" style=" float:right;border-radius: 12px;" type="submit" name="action" ng-click="votingCtrl.checkcreate()">Create</button>
                     </div>     
                
                    <div class="col-sm-4"> 
                        <button class="btn btn-default btn-block" style="float:right;border-radius: 12px;" type="reset" name="action" ng-click="votingCtrl.loginUser()">Cancel
                        </button>
                    </div>
                    
                </div>

                </div>
            </div>

    </div>










      <div class="col-sm-1"></div>


    <div class="col-sm-5" style="text-align: left; padding:5% 5% 5% 5%% " >
        <div ng-if="votingCtrl.activeVotingQuestion" style="padding: 0% 5% 15% 3%">
        
          
            
            <div class= "row" style="background-color: antiquewhite; padding: 0% 10% 5% 10%">
            <h3 style="text-align: center"><b>Meeting's Active Votings</b>
            </h3><br>
                
            <h4><strong>Vote: {{votingCtrl.votingQuestion.vquestion}}</strong></h4>
             
            <small>Date: {{votingCtrl.votingQuestion.vdate}} 
            Time:{{votingCtrl.votingQuestion.vtime}}</small>
            <br>{{votingCtrl.votingQuestion.vinstructions}}<br><br>

            <ol style="list-style: circle">
                <div ng-repeat="choices in votingCtrl.votingChoices">
                <li>{{choices.votes}} - {{choices.choice}}
                    </li> 
                </div>
            </ol>
                <div class="col-sm-8"></div>
            <div class="col-sm-4">
            <button class="btn btn-danger btn-block" style="float:right;border-radius: 360px;" type="submit" name="action" ng-click="votingCtrl.closeVotingQuestion()">Close
            </button>
            </div>
                
            <!--<button style="float:right;padding:5px 30px;border-radius: 12px;" type="submit" name="action" ng-click="votingCtrl.getVotingChoiceResults()">GET</button>-->
           </div>
        </div>


         
        
       
      
          
            <div ng-repeat="v in votingCtrl.inActiveVotingQuestion"> 
                
                  <div class= "row" style="background-color:#e0e3e5; padding: 0% 10% 5% 10%" ng-if="votingCtrl.activeMeeting">
            <h3 style="text-align: center"><b>Closed Meeting's Votings</b>
            </h3> <br>

                <div class="pre-scrollable" style="max-height: 35%" >
            <!-- This card prodives space for the message and Like/dislike buttons -->
            <!-- Card Title is the person who write the message -->
            <!-- Here comes the message text -->
                <div class="col-sm-12">
                <h4><strong>Vote: {{v.vquestion}}
                </strong></h4>
                  <small>Date: {{v.vdate}} Time: {{v.vtime}}
                </small>
                <p>{{v.vinstructions}}
                    <br>
                </p>
                <ol style="list-style: circle" ng-repeat="c in votingCtrl.inActiveVotingChoices[v.vID]">
                      <li>{{c.votes}}- {{c.choice}}                  
                      </li>
                </ol><br>
                    </div>
            <!--<div ng-repeat="c in votingCtrl.inActiveVotingChoicesTest[v.vID][v.vID]">
              <p>
                {{c.vchoice}}
                  {{c.votes}}
              </p>

        </div>-->
        </div>
        </div>
            </div>
    </div>
  </div>
</div>




</body>

