<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
</head>

<body>

       
<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">Whitestone</a>
    </div>
    <ul class="nav navbar-nav">
      <li class="active"><a type="submit" name="action" ng-click="createUserCtrl.createUserRedirect()">Create User</a></li>
      <li><a type="submit" name="action" ng-click="createUserCtrl.editUserRedirect()"> Edit User</a></li>
        
      <li><a type="submit" name="action" ng-click="createUserCtrl.activityLogRedirect()">Activity Log</a></li>
    
      </ul>
      <ul></ul>
      
      <li style = "float:right"><a class="active" type="submit" name="action" ng-click="createUserCtrl.logOut()">Logout</a></li>
      
  </div>
</nav>
    
    
    
    
    <center>
        <div class="container" >
            
            <div class="card-header">
				<h3>Create New User</h3>
            </div>
<table bgcolor="#FFFFFF">
    <tbody>
        <tr>
            <th><input ng-model="createUserCtrl.first_name" class="form-control" placeholder="Enter First Name"></th>
        </tr>
        <tr>
            <th><input ng-model="createUserCtrl.last_name" class="form-control" placeholder="Enter Last Name" ></th>
        </tr>
        <tr>
            <th><input ng-model="createUserCtrl.about" class="form-control" placeholder= "About User" ></th>
        </tr>
        <tr>
            <th><input ng-model="createUserCtrl.password" class="form-control"  placeholder= "Password" ></th>
        </tr>
        <tr>
            <th><input ng-model="createUserCtrl.email" class="form-control"  placeholder="UPRM Email "></th>
        </tr>
        <tr>
            
            <th><label> <b><br>Select The User Role:  </b></label><br>

                <input type="radio" ng-model="createUserCtrl.role" value="Senator">Senator
                <br>
                <input type="radio" ng-model="createUserCtrl.role" value="Chancellor">Chancellor
                <br>
                <input type="radio" ng-model="createUserCtrl.role" value="Secretary">Secretary
                <br>
                <input type="radio" ng-model="createUserCtrl.role" value="Administrator">Administrator

            </th>
        </tr>
        <tr>
            <th><label> <b><br>Select The User Classification:  </b></label><br>

                <input type="radio" ng-model="createUserCtrl.title" value="Ex-Officio Student">Ex-Officio Student
                <br>
                <input type="radio" ng-model="createUserCtrl.title" value="Elect Student">Elect Student
                <br>
                <input type="radio" ng-model="createUserCtrl.title" value="Elect">Elect
                <br>
                <input type="radio" ng-model="createUserCtrl.title" value="Ex-Officio">Ex-Officio
                <br>
                <input type="radio" ng-model="createUserCtrl.title" value="Staff">Staff

            </th>
        </tr>
        <tr>
            <th><br>
            <button class="btn btn-primary btn-block"  type="submit" name="action" ng-click="createUserCtrl.createNewCredentials()">Create</button> 
        </th>
        </tr>
        
    </tbody>
</table>
     
        
        </div>
    </center>
</body>