<head>
 <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
</head>                    


<header>
    <nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">Whitestone</a>
    </div>
    <ul class="nav navbar-nav">
      <li class="active"><a class="active" type="submit" name="action" ng-click="#">Meeting</a></li>
      <li><a type="submit" name="action" ng-click="createMeetingCtrl.voteRedirect()">Voting</a></li>
      <li><a type="submit" name="action" ng-click="createMeetingCtrl.oldMeetingRedirect()">Old Meetings</a></li>
    
      </ul>
      <ul></ul>
      <li style = "float:right"><a class="active" type="submit" name="action" ng-click="createMeetingCtrl.logout()">Logout</a>
  </div>
</nav>
</header>

<body>
    
    <center>
    <div ng-if="createMeetingCtrl.active">
        <h4 style="text-align: center">The meeting: "{{createMeetingCtrl.meeting.mname}}" is a currently active.
        Do you want to close the meeting?</h4>
        <button class="btn btn-primary" type="submit" name="action" ng-click="createMeetingCtrl.closeMeeting()">Close</button> 
    </div>
    </center>
    <center>
        <div ng-if="!createMeetingCtrl.active">
        <table>
        <div class="container" >
            <div form="meetingForm">
            <tbody>
                <div class="card-header">
                    <h3>Create new meeting</h3>
                </div>

                <tr>
                    <th><input ng-model="createMeetingCtrl.meeting_name" class="form-control" placeholder="Meeting Name" required></th>
                </tr>
                <tr>
                    <th><input ng-model="createMeetingCtrl.meeting_desc" class="form-control" placeholder="Meeting description" required></th>
                </tr>
                <tr>
                    <th><br>
                    <button class="btn btn-primary btn-block" type="submit" name="action" ng-click="createMeetingCtrl.createMeeting()" ng-disabled="createMeetingCtrl.active">Create</button> 
                    <br>
                </th>
                </tr>
                
              </tbody>
            </div>
            </div>
            </table>
        </div>
       </center>
    
</body>
