<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
</head>
<body>
<button type="submit" name="action" ng-click="votingCtrl.meetingRedirect()">Meeting</button>
        <button type="submit" name="action" ng-click="votingCtrl.activityLogRedirect()">Activity Log</button>
<div class="container">
  
  <div class="row">
    <div class="col-sm-4"  style="background-color:rgba(246, 245, 250, 1);color:black;padding:20px 20px 20px 20px">
	    <table>
          <tbody>
              <tr>                                     
              <th> 
                <input ng-model="votingCtrl.voting_question" placeholder="Voting Question"></th>
              </tr>
              <tr>
                                                          
              <th>
                <br>
                <input ng-model="votingCtrl.voting_objective" placeholder="Voting Objective"></th>
              </tr>
              
              <tr>
              <th>
                <label> <b>Date </b></label>
                <br>
                <input ng-model="votingCtrl.vMM" placeholder="MM">
                <input ng-model="votingCtrl.vDD" placeholder="DD">
                <input ng-model="votingCtrl.vYYYY" placeholder="YYYY"></th>
              </tr>

              <tr>                                     
              <th> 
                <label> <b>Time </b></label>
                <br>
                <!--<select ng-model="selectedName" ng-options="x for x in names"></select>-->
                <input ng-model="votingCtrl.vHour" placeholder="HH">
                <input ng-model="votingCtrl.vMin" placeholder="MM"></th>
              </tr>
              <tr>                                     
              <th> 
                <label> <b>Select all the participants </b></label>
                <div ng-repeat="t in votingCtrl.titles">
                  <div class="action-checkbox">
                  <input id="{{t.title}}" type="checkbox" value="{{t.title}}" ng-checked="t.selected"  ng-click="votingCtrl.addToSelection(t.title)" />
                  <label for="{{t.title}}"></label>
                   {{t.title}}
                  </div>
                </div>
              </tr>
              <tr>
                                                          
              <th>
                <label> <b>Enter limit of selections </b></label>
                <input ng-model="votingCtrl.vLimit" placeholder="Limit"></th>
              </tr>
              <tr>
                <th>
                  <div>Enter voting Alternatives</div>
                  <div ng-repeat="alt in votingCtrl.votingAlternatives">
                    <input type="text" name="alternative" ng-model="alt.valt" placeholder="Alternative">
                  </div>
                  <button class="btn btn-primary" style="padding:1px 10px;border-radius: 5px;" ng-click="votingCtrl.addAlternative()">Add Alternative</button>
                </th>
              </tr>
              <tr>
              <th>
                <br>
                <button class="btn btn-success" style="float:left;padding:5px 30px;border-radius: 12px;" type="submit" name="action" ng-click="votingCtrl.createVote()">Create</button>
                
                <button class="btn btn-danger" style="float:right;padding:5px 30px;border-radius: 12px;" type="reset" name="action" ng-click="votingCtrl.loginUser()">Cancel</button>
              </th>
              </tr>
          </tbody>
        </table>
    </div>
    <div class="col-sm-4">
    </div>
    
    <div class="col-sm-4" style="background-color:rgba(246, 245, 250, 1);color:black;padding:20px 20px 20px 20px">
      <div ng-repeat="v in votingCtrl.votingQuestions">
            <!-- This card prodives space for the message and Like/dislike buttons -->
            <!-- Card Title is the person who write the message -->
            <!-- Here comes the message text -->
              <p>
                {{v.votingquestion}}
                {{v.votinDate}}{{v.votingTime}}
              </p>
              <p>
                {{v.alternative}}{v.result}
              </p>
        </div>
    </div>
  </div>
</div>

</body>

