                    <table>
                        <tbody>
                            <tr>
                                <th><label> <b>Meeting Name:  </b></label><input ng-model="createMeetingCtrl.meeting_name" placeholder="Enter Meeting Name"></th>
                            </tr>
                            <tr>
                                <th><label> <b>Meeting description:  </b></label><input ng-model="createMeetingCtrl.meeting_desc" placeholder="Enter Meeting_description" ></th>
                            </tr>
                            <tr>
                                <th><label> <b>MM:  </b></label><input ng-model="createMeetingCtrl.meeting_month" placeholder= "MM" ></th>
                            </tr>
                            <tr>
                                <th><label> <b>DD:  </b></label><input ng-model="createMeetingCtrl.meeting_date" placeholder="DD"></th>
                            </tr>
                            <tr>
                                
                                <th><label> <b>YYYY:  </b></label><input ng-model="createMeetingCtrl.meeting_year" placeholder="YYYY"></th>
                            </tr>
                            <tr>
                                <th>
                                <button type="submit" name="action" ng-click="createMeetingCtrl.createMeeting()">Create</button> 
                            </th>
                            </tr>
                        </tbody>
                    </table>