<body>

    <nav class="navbar navbar-inverse">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="#">Whitestone</a>
            </div>
            <ul class="nav navbar-nav">
                <li><a type="submit" name="action" ng-click="editUserCtrl.createUserRedirect()">Create User</a></li>
                <li class="active"><a type="submit" name="action" ng-click="editUserCtrl.editUserRedirect()"> Edit User</a></li>

                <li><a type="submit" name="action" ng-click="editUserCtrl.activityLogRedirect()">Activity Log</a></li>

            </ul>
            <ul></ul>

            <li style="float:right"><a class="active" type="submit" name="action" ng-click="editUserCtrl.logout()">Logout</a></li>

        </div>
    </nav>

    <center>
        <div class="container" style="padding: 2% 2% 2% 2%">

            <div class="col-sm-5">
                <div class="card-header">
                    <h3><b>Edit User</b></h3>
                    <p>Select the user from the list to display and modify their account information:</p>
                </div>
                <br>

                <select size="20" ng-change="editUserCtrl.loadForm()" ng-model="editUserCtrl.selectedUser" ng-options="user as (user.firstname+'&nbsp'+user.lastname) for user in editUserCtrl.newUserList" style="padding-top: 1%">
                    <option value="">--Select User--</option>
                </select>
            </div>

            <div class="col-sm-1"></div>

            <div class="col-sm-6" ng-show="editUserCtrl.showForm" style="background-color: #e0e3e5; padding: 2% 4% 4% 4%">
                <h3><b>User Account</b></h3>

                <p style="text-align: justify">Modify the desired fields and press "Save" to keep the changes. If you wish to delete the user account permanently, press the "Delete" button. Otherwise, press "Cancel" button.</p>
                <div class="row" style="padding: 2% 2% 1% 2%">
                    <input name="fn" ng-model="editUserCtrl.first_name" class="form-control" placeholder="First Name">
                    <div ng-if="editUserCtrl.firstnameVal">first name does not contain</div>
                </div>

                <div class="row" style="padding: 1% 2% 1% 2%">
                    <input name="ln" ng-model="editUserCtrl.last_name" class="form-control" placeholder="Last Name">
                    <div ng-if="editUserCtrl.lastnameVal">last name does not contain</div>
                </div>

                <div class="row" style="padding: 1% 2% 1% 2%">

                    <input name="ab" ng-model="editUserCtrl.about" class="form-control" placeholder="About User">
                </div>
                <div class="row" style="padding: 1% 2% 1% 2%">
                    <input name="eml" ng-model="editUserCtrl.email" class="form-control" placeholder="UPRM Email">
                    <div ng-if="editUserCtrl.emailVal">email has wrong format</div>
                </div>
                <div class="row" style="padding: 1% 2% 1% 2%">
                    <input name="pswd" ng-model="editUserCtrl.password" class="form-control" type="password" placeholder="Pin">
                    <div ng-if="editUserCtrl.pinVal">pin can only have 4 numbers</div>
                </div>
                <div class="row" style="padding: 2% 2% 2% 2%; text-align: left">

                    <div class="col-sm-6">
                        <br>
                        <label>
                            <b>User Classification: </b>
                        </label>
                        <br>
                        <div ng-repeat="t in editUserCtrl.titles">
                            <input type="radio" ng-model="editUserCtrl.titleSelect.selected" ng-value="t.title"> {{t.title}}

                        </div>
                    </div>

                    <div class="col-sm-6">

                        <br>
                        <label>
                            <b> User Role: </b>
                        </label>
                        <br>
                        <div ng-repeat="r in editUserCtrl.roles">
                            <input type="radio" ng-model="editUserCtrl.roleSelect.selected" ng-value="r.role"> {{r.role}}
                        </div>
                    </div>

                </div>
                <br>
                <button type="submit" class="btn btn-sm btn-primary" name="action" ng-click="editUserCtrl.checkForm()">Save</button>
                <button type="submit" class="btn btn-sm" style="border-color: red" name="action" ng-click="editUserCtrl.checkDelete()">Delete</button>
                <button type="reset" class="btn btn-sm btn-default" style="border-color: black" name="action" ng-click="editUserCtrl.cancel()">Cancel</button>

            </div>
            <div ng-show="editUserCtrl.showMessage">
                <p>The user data has been edited</p>
            </div>
            <br>
        </div>
    </center>
</body>