<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
</head>

<body>
    
  
<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">Whitestone</a>
    </div>
    
  </div>
</nav>
    
    <center>
        <div class="container" >
            
            <div class="card-header">
				<h3>Login </h3>
            </div>
                     
            <div class="row">
                
                <div class="col-sm-4">
                </div>
                    <div class="col-sm-4">
                    <form name="loginCtrl.loginForm">
	                   <table>
                           <tbody>
                            <tr>                                     
                               
                            <th> 
                                <input name="emailf" ng-model="loginCtrl.email" class="form-control" placeholder="UPRM Email address" ng-pattern ="/^[a-z]+\.[a-z]*\d*@upr\.edu$/" required>
                                </th>
                            </tr>
                               
                               <!--^[a-z\D]+\.[a-z]*\d*@upr\.edu$-->
                            <tr>
                                                          
                            <th>
                                <div name="passf" ng-if="loginCtrl.radiusLogin">
                                <input type="password" ng-model="loginCtrl.password" class="form-control" placeholder="Password" required>
                                </div>
                                <div ng-if="!loginCtrl.radiusLogin">
                                <input type="password"name="passf" ng-model="loginCtrl.password" class="form-control" placeholder="Pin" ng-pattern="/^[0-9]{1,4}$/"required>
                                </div>
                                </th>
                            </tr>

                            <tr>
                                <th>
                                <br>
                                <button class="btn btn-primary btn-block" type="submit" name="action" ng-click="loginCtrl.checkForm()">Log in</button>
                                
                            </th>
                            </tr>
                        </tbody>
                    </table>
                        </form>
    </div>
    <div class="col-sm-4">
    </div>
  </div>
</div>
</center>
</body>

