<head>
  <link rel="stylesheet"  href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>

</head>
<body>
<center>
<img src="whitestone_logo.png" alt="WhitestoneLogo" style="max-width:100px;max-height:100px;" >

  
<div class="container" >
<br>
  <div class="row">
    <div class="col-sm-4">
    </div>
    <div class="col-sm-4">
	<table>
                  <tbody>
                            <tr>                                     
                               
                            <th> 
                                <label> <b>Username </b></label>
                                <input ng-model="loginCtrl.email" placeholder="Enter email"></th>
                            </tr>
                            <tr>
                                                          
                            <th>
                                <label> <b>Password </b></label>
                                <input ng-model="loginCtrl.password" placeholder="Enter Password"></th>
                            </tr>

                            <tr>
                                <th>
                                <br>
                                <button class="btn btn-primary btn-block" type="submit" name="action" ng-click="loginCtrl.loginUser()">Login</button> 
                            </th>
                            </tr>
                        </tbody>
                    </table>
    </div>
    <div class="col-sm-4">
    </div>
  </div>
</div>
</center>
</body>

