
<body>
    
    
<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">Whitestone</a>
        
    </div>
    <ul class="nav navbar-nav">
      <li class="active">Monitor</li>
      </ul>
      <ul></ul>
      <li style = "float:right"><a class="active" type="submit" name="action" ng-click="monitorCtrl.logout()">Logout</a>
  </div>
</nav>    
    
    
       <div class="jumbotron" style="background-image: url(/Whitestone_app/css/media/rum-portico.jpg); background-size: cover; background-size:cover">
    
        <h1 style="color:white; font-family:cursive; padding-left: 2%">Whitestone</h1>
     

        </div>
    
    <div ng-if="!monitorCtrl.activeMeeting">
        <h2 style="text-align: center">There is currently no active meeting</h2>
    </div>

<div class="container">
  
  <div class="row">
    <div class="col-sm-3">
    </div>
    <div class="col-sm-6">
        <center>
             <div ng-if="monitorCtrl.activeVotingQuestion">
         <h3><b>UPRM ACADEMIC SENATE ACTIVITIES</b></h3>
                  <p><font size="3">Date: {{monitorCtrl.currentDate}},Time: {{monitorCtrl.currentTime}}</font></p><br>
                 
                 
                 <h3><b>Voting: {{monitorCtrl.votingQuestion.vquestion}}</h3>
                 <p><font size="4">{{monitorCtrl.votingQuestion.vinstructions}}</font></p>
                 
             <ol style="list-style: circle; background-color: e0e3e5; padding: 2% 10% 2% 10%" ng-repeat="choices in monitorCtrl.votingChoices">
                 <li><font size="4">{{choices.choice}}</font></li>
                
            </ol>
            <br>
        </div>
        
            
            
            <div ng-if="monitorCtrl.lastVotingQuestion">
        <h3><b>UPRM ACADEMIC SENATE ACTIVITIES</b></h3>
                
                <p><font size="3">Date: {{monitorCtrl.currentDate}},Time: {{monitorCtrl.currentTime}}</font></p><br>
            <div  class="container" >
                 <h3><b>Voting:  {{monitorCtrl.votingQuestion.vquestion}}</b></h3>
                 <p><font size="4"> {{monitorCtrl.votingQuestion.vinstructions}}</font></p>
                    
                 
            <div ng-repeat="choices in monitorCtrl.votingChoices">
                {{choices.choice}}:{{choices.votes}}
                </div>
            </div>
            <br>
        </div>
        </center>
    </div>
    
    <div class="col-sm-3">
       
    </div>
  </div>
</div>


</body>

