<header>
    <nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">Whitestone</a>
    </div>
    <ul class="nav navbar-nav">
      <li class="active"><a class="active" type="submit" name="action" ng-click="#">Request Turn</a></li>
      <li><a type="submit" name="action" ng-click="senatorCtrl.voteRedirect()">Voting</a></li>
      </ul>
      <ul></ul>
      <li style = "float:right"><a class="active" type="submit" name="action" ng-click="senatorCtrl.logout()">Logout</a>
  </div>
</nav>
</header>

<body>
    
    <center>
        <div class="container">
            
            <div class="col-sm-3"></div>
                 <div class="col-sm-6" style="padding-top: 10%">
                     
        <h1 style="text-align: center"><b>Request to Speak System</b></h1><br>
    <div ng-if="!senatorCtrl.activeMeeting">
        <h3 style="text-align: center">There is currently no active meeting</h3>
        <h3 style="text-align: center">Please log out until a meeting is created</h3>
    </div>
    
     

        <div ng-if="senatorCtrl.activeMeeting">
             
        <h4 style="text-align: center">Press the button to request a turn to speak and wait for your turn to be granted.  Your speech will be recorded.</h4><br>
            
                    <p ng-bind="senatorCtrl.time"></p>
        <p id="time"></p>
        <table>
        <div class="container" >
            <tbody>
                
                
                <tr>
                    <th>
                    <button class="btn-mic" type="submit" name="action" ng-click="senatorCtrl.requestTurn()" ng-disabled="senatorCtrl.requestedTurn"></button> 
                </th>
                </tr>
                <div ng-if="senatorCtrl.requestedTurn">
                    <button class="btn btn-primary btn-block" type="submit" name="action" ng-click="senatorCtrl.cancelTurn()">Cancel turn</button> 
                    <p style="text-align: center">You are in the waiting list</p>
                </div>
              </tbody>
            </div>
            </table>
        </div>
            </div>
<div class="col-sm-3"></div>
            </div>
        
       </center>
    
</body>
