<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
</head>
<header>
<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">Whitestone</a>
    </div>
    <ul class="nav navbar-nav">
        <li><a type="submit" name="action" ng-click="submitVoteChanCtrl.turnsRedirect()">Turns</a></li>
      <li class="active"><a class="active" type="submit" name="action" ng-click="#">Vote</a></li>
      </ul>
      <ul></ul>
      <li style = "float:right"><a class="active" type="submit" name="action" ng-click="submitVoteChanCtrl.logout()">Logout</a>
  </div>
</nav>
</header>
<body>
    <center>
        <div class="card-header">
            <h3>Open Voting</h3>
        </div>
        <div ng-if="!submitVoteChanCtrl.activeMeeting">
        <h2 style="text-align: center">There is no active meeting</h2>
        </div>
        <div ng-if="submitVoteChanCtrl.activeMeeting && !submitVoteChanCtrl.activeVotingQuestion">
        <h2 style="text-align: center">There is no active voting question</h2>
        </div>
        <div ng-if="submitVoteChanCtrl.participation && submitVoteChanCtrl.isParticipant && submitVoteChanCtrl.activeVotingQuestion">
            <h2 style="text-align: center">You already submitted your vote</h2>
        </div>
        <div ng-if="!submitVoteChanCtrl.isParticipant && submitVoteChanCtrl.activeVotingQuestion">
            <h2 style="text-align: center">You cannot participate in the voting question</h2>
        </div>
    <div class="container">

        <div class="row">
            <div class="col-sm-4" style="background-color:rgba(246, 245, 250, 1);color:black;padding:20px 20px 20px 20px">

            </div>

            <div class="col-sm-4">
                <div ng-if="submitVoteChanCtrl.activeVotingQuestion">
                <table>
                    <tbody>
                        <tr>
                            <th>
                                {{submitVoteChanCtrl.VotingQuestion.vquestion}}

                            </th>
                        </tr>
                        <tr>
                            <th>
                                {{submitVoteChanCtrl.VotingQuestion.vdescription}}
                                {{submitVoteChanCtrl.VotingQuestion.vtime}}
                                {{submitVoteChanCtrl.VotingQuestion.vdate}}
                            </th>
                        </tr>
                        <tr>
                            <th>
                                <div ng-repeat="choices in submitVoteChanCtrl.votingChoices">
                                    <input type="checkbox" name="mycheckbox" ng-model="choices.checked" ng-click="submitVoteChanCtrl.checkChoice(choices)" ng-disabled="submitVoteChanCtrl.count >= submitVoteChanCtrl.limit && !choices.checked" ng-checked='choices.checked' /> {{choices.choice}}
                                </div>
                            </th>
                        </tr>
                        <tr>
                            <th>
                            <br>
                                <center>
                                <button class="btn btn-primary" style="padding:1px 20px;border-radius: 5px;" ng-disabled="submitVoteChanCtrl.participation"ng-click="submitVoteChanCtrl.checkSubmit()">Submit</button>
                                </center>
                            </th>
                        </tr>

                    </tbody>
                </table>
                </div>
            </div>

            <div class="col-sm-4" style="background-color:rgba(246, 245, 250, 1);color:black;padding:20px 20px 20px 20px">

            </div>
        </div>
    </div>
    </center>
</body>
