<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
</head>

<body>
    <center>
        <div class="card-header">
            <h3>Open Voting</h3>
        </div>
        <div ng-if="submitVoteCtrl.participation">
            <h2>You cannot participate in the voting</h2>
        </div>
    <div class="container">

        <div class="row">
            <div class="col-sm-4" style="background-color:rgba(246, 245, 250, 1);color:black;padding:20px 20px 20px 20px">

            </div>

            <div class="col-sm-4">
                <table>
                    <tbody>
                        <tr>
                            <th>
                                {{submitVoteCtrl.VotingQuestion.vquestion}}

                            </th>
                        </tr>
                        <tr>
                            <th>
                                {{submitVoteCtrl.VotingQuestion.vdescription}}
                                {{submitVoteCtrl.VotingQuestion.vtime}}
                                {{submitVoteCtrl.VotingQuestion.vdate}}
                            </th>
                        </tr>
                        <tr>
                            <th>
                                <div ng-repeat="choices in submitVoteCtrl.votingChoices">
                                    <input type="checkbox" name="mycheckbox" ng-model="choices.checked" ng-click="submitVoteCtrl.checkChoice(choices)" ng-disabled="submitVoteCtrl.count >= submitVoteCtrl.limit && !choices.checked" ng-checked='choices.checked' /> {{choices.choice}}
                                </div>
                            </th>
                        </tr>
                        <tr>
                            <th>
                            <br>
                                <center>
                                <button class="btn btn-primary" style="padding:1px 20px;border-radius: 5px;" ng-disabled="submitVoteCtrl.participation"ng-click="submitVoteCtrl.checkSubmit()">Submit</button>
                                </center>
                            </th>
                        </tr>

                    </tbody>
                </table>

            </div>

            <div class="col-sm-4" style="background-color:rgba(246, 245, 250, 1);color:black;padding:20px 20px 20px 20px">

            </div>
        </div>
    </div>
    </center>
</body>
