<header>
<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">Whitestone</a>
    </div>
    <ul class="nav navbar-nav">
        <li><a type="submit" name="action" ng-click="submitVoteCtrl.turnsRedirect()">Request Turn</a></li>
      <li class="active"><a class="active" type="submit" name="action" ng-click="#">Voting</a></li>
        
      </ul>
      <ul></ul>
      <li style = "float:right"><a class="active" type="submit" name="action" ng-click="submitVoteCtrl.logout()">Logout</a>
  </div>
</nav>
</header>
<body>
   
                 
           
        <div ng-if="!submitVoteCtrl.activeMeeting" style="padding-top: 10%">
        <h2 style="text-align: center">There is no active votings at this moment.</h2>
        </div>
        <div ng-if="submitVoteCtrl.participation && submitVoteCtrl.activeVotingQuestion">
            <h2 style="text-align: center">You are ineligible to participate in the voting.  </h2>
        </div>
    <div class="container">

        <div class="row">
            <h1 style="text-align: center; padding: 2% 0% 2% 0%"><b>Active Voting</b></h1><br>
            
            <div class="col-sm-3">

            </div>

            <div class="col-sm-6">
                
                <p>You are participating in an active voting.  Follow the instructions provided below.  To submit your vote press the "Vote" button.  Once submitted, your vote cannot be edited.  </p><br>
                
                <div class = "col-xm-1" style="background-color: #f2f2f2"></div>
                <div class= "col-sm-12" ng-if="submitVoteCtrl.activeVotingQuestion" style="background-color: #f2f2f2">
               <br>
                    <div class="row" style="text-align: center; background-color: #383535; padding: 0% 5% 2% 5%">
                    <font size=4 padding 10px 10px 10 px 10px color=white><b>{{submitVoteCtrl.VotingQuestion.vquestion}}</b> </font>
                     <br>
                    </div>
                               
                    <br>
                    <div class="row" style="padding: 1% 2% 4% 2%"><font size=4><b>Instructions:</b> {{submitVoteCtrl.VotingQuestion.vinstructions}}</font></div>
                            
                                    

                    <div class= "row" style="padding: 1% 4% 1% 4%" ng-repeat="choices in submitVoteCtrl.votingChoices">
                        <input type="checkbox" name="mycheckbox" ng-model="choices.checked" ng-click="submitVoteCtrl.checkChoice(choices)" ng-disabled="submitVoteCtrl.count >= submitVoteCtrl.limit && !choices.checked" ng-checked='choices.checked' /><font size=4> {{choices.choice}}</font>
                    </div>
                           
                         
                    <div class="row" style="padding: 10% 0% 5% 0%; text-align: center">
                    <div class="col-sm-3"></div>
                        <div class="col-sm-6">
                    <button class="btn btn-primary btn-block" ng-disabled="submitVoteCtrl.participation"ng-click="submitVoteCtrl.checkSubmit()">Vote</button>
                        </div>
                        <div class="col-sm-3"></div>
                        </div>
                               
                          
                </div>
                <div class = "col-xs-1" style="background-color: #f2f2f2"></div>
            </div></div>

            <div class="col-sm-3">

            </div>
        </div>
    
    
</body>
