<head>
        <title>Bootstrap Example</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
</head>

<body>

<center>
    
<div class="container">
  
    <div class="row">
      <div class="col-sm-4"  style="background-color:rgba(246, 245, 250, 1);color:black;padding:20px 20px 20px 20px">
          
      </div>

      <div class="col-sm-4">
          <table>
              <tbody>
                  <tr>
                      <th>
                          {{submitVoteChanCtrl.votingQuestion[0].vquestion}}

                      </th>
                  </tr>
                  <tr>
                      <th>
                          {{submitVoteChanCtrl.votingQuestion[0].vdescription}}

                      </th>
                  </tr>
                  <tr>
                      <th>
                          <div ng-repeat="choices in submitVoteChanCtrl.newChoiceList">
                              <input 
                                            type="checkbox" 
                                            name="mycheckbox" 
                                            ng-model= "choices.checked"
                                            ng-click="submitVoteChanCtrl.checkChoice(choice.alt)"
                                            ng-disabled="submitVoteChanCtrl.count >= submitVoteChanCtrl.Limit && choice.checked"
                                            ng-value='choice.alt'
                                                  ng-checked='choice.checked'/>  
                                                {{choice.alt}}
                          </div>
                          <center>
                          <button class="btn btn-primary" style="padding:1px 10px;border-radius: 5px;" ng-click="submitVoteChanCtrl.checkSubmit()">Submit</button>
                          </center>
                      </th>
                  </tr>
                  <tr>
                      <th><center>
                          <button class="btn btn-primary" style="padding:1px 10px;border-radius: 5px;" ng-click="submitVoteChanCtrl.checkSubmit()">Submit</button>
                          </center>
                          
                      </th>
                  </tr>

              </tbody>
          </table>
      </div>
      
      <div class="col-sm-4" style="background-color:rgba(246, 245, 250, 1);color:black;padding:20px 20px 20px 20px">
        
      </div>
    </div>
  </div>
    </center>  
  </body>