<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
</head>


<body>
    
    
    <nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">Whitestone</a>
    </div>
    <ul class="nav navbar-nav">
      <li><a href="#">Meeting</a></li>
      <li><a type="submit" name="action" ng-click="oldMeetingsCtrl.voteRedirect()">Voting</a></li>
      <li class="active"><a class="active" type="submit" name="action" ng-click="#">Old Meetings</a></li>
    
      </ul>
      <ul></ul>
      <li style = "float:right"><a class="active" type="submit" name="action" ng-click="createUserCtrl.logOut()">Logout</a>
  </div>
</nav>
    
    
  <div class="container">

    <div class="row">
      <div class="col-sm-4">

      </div>
      <div class="col-sm-4" style="background-color:rgba(246, 245, 250, 1);color:black;padding:20px 20px 20px 20px">
        <table>
          <tbody>
            <tr>
              <th>
                <div ng-repeat="meetings in oldMeetingsCtrl.oldMeetingList">
                  
                  <input type="checkbox" name="mycheckbox" ng-model="meetings.checked" ng-click="oldMeetingsCtrl.checkMeeting(meetings)" ng-checked='meetings.checked'
                  /><label>
                    {{meetings.mdescription}} {{meetings.mdate}}{{meetings.mtime}}
                  </label>
                </div>
              </th>
            </tr>
          </tbody>
        </table>
      </div>

      <div class="col-sm-4">
      </div>
    </div>
  </div>

  <div class="container">
    <div class="row">
      <div class="col-sm-4" style="background-color:rgba(246, 245, 250, 1);color:black;padding:20px 20px 20px 20px">
        <div ng-show="oldMeetingsCtrl.selected">
          <h1>Welcome</h1>
          <div ng-repeat="votingQuestion in oldMeetingsCtrl.votingQuestionList">
            {{votingQuestion.vquestion}}{{votingQuestion.vtime}}{{votingQuestion.vdate}}
            {{votingQuestion.vID}}
              <div ng-repeat="choices in oldMeetingsCtrl.votingChoiceList[votingQuestion.vID]">
                {{choices.choice}}{{choices.votes}}
                
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-4">
      </div>

      <div class="col-sm-4" style="background-color:rgba(246, 245, 250, 1);color:black;padding:20px 20px 20px 20px">
      </div>
    </div>
  </div>
</body>